body.light {
  background-color: #f8f9fa;
  color: black;
}

.navbar.light {
  background-color: white;
}

body.dark {
  background-color: pink !important; /* Dark mode navbar pink */
}

.navbar {
  height: 100px; 
  line-height: 20px; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.navbar .nav-link {
  color: #605FED;
  font-size: 0.8rem;
}

.navbar .nav-link.text-white {
  color: white;
}

.navbar .nav-link:hover {
  color: #4b35c5;
}

.navbar .nav-link.text-white:hover {
  color: #a4a4a4;
}

button {
  background-color: #605FED;
  border: none;
  font-size: 0.8rem;
  margin-left: auto; 
}

button:hover {
  background-color: #4d4cbf;
}

button:focus {
  outline: none;
}

footer {
  font-size: 0.7rem; 
  background-color: #605FED; 
  color: #ffffff; 
  text-align: center;
}

footer.text-muted {
  background-color: #4b35c5;
  color: #e0e0e0;
}

body.dark footer {
  background-color: #343a40;  /* Dark mode footer background */
  color: white;
}
