body.light {
  background-color: #f8f9fa;
  color: black; /* Default text color for light mode */
}

.navbar.light {
  background-color: white;
}

body.dark {
  background-color: rgb(6, 3, 45); /* Dark mode background */
  color: white; /* Default text color for dark mode */
}

.navbar.dark {
  background-color: rgb(6, 3, 45);
}

.navbar {
  height: 100px; 
  line-height: 20px; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.navbar .nav-link {
  color: #605FED;
  font-size: 0.8rem;
  margin-right: 10px;
}

.navbar .nav-link.text-white {
  color: white;
}

.navbar .nav-link:hover {
  color: #4b35c5;
}

.navbar .nav-link.text-white:hover {
  color: #a4a4a4;
}

button {
  background-color: #605FED;
  border: none;
  font-size: 0.8rem;
  margin-left: auto; 
}

button:hover {
  background-color: #4d4cbf;
}

button:focus {
  outline: none;
}

footer {
  font-size: 0.7rem; 
  background-color: #605FED; 
  color: #ffffff; 
  text-align: center;
}

footer.text-muted {
  background-color: #4b35c5;
  color: #e0e0e0;
}

body.dark footer {
  background-color: black;
  color: white;
}

/* Add styles for cards in dark mode */
body.dark .card-title, body.dark .card-text {
  color: white; /* Ensure card text is readable in dark mode */
}

body.dark .card {
  background-color: #444; /* Dark background for cards */
  border-color: #333; /* Dark border for cards */
}
